@{
    ViewBag.Title = "Login";
}
@section MyScript {
<script type="text/javascript">
    function ShowHidden() {
        tbox = document.getElementById("my_textbox");
        if (tbox.style.display == "inline") {
            tbox.style.display = 'none';
        }
        else {
            tbox.style.display = 'inline';
        }
        
    };
</script>
    }

<h3>Привет! Это страница авторизации!</h3>
@using (Html.BeginForm())
{
    <div>
        <label>Login</label>
        @Html.TextBox("Login")
    </div>
    <br/>
    <div>
        <label>Password</label>
        @Html.Password("Password")
    </div>
    <br/>
    <div>
        <label>2х факторная авторизация</label>
        @Html.CheckBox("Checkbox",new { onClick="ShowHidden()" })
    </div>
    <br/>
    <div>
        @Html.TextBox("Token","", new { id="my_textbox",style = "display:none"})
    </div>
    <br/>
    <input type="submit" name="login_but" value="Login">
}