@model IEnumerable<VK_Music.Models.PhotoList>

@{
    ViewBag.Title = "TrackList";
}
@section MyScript {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/sender.js"></script>
}

<h2>My Photo</h2>

@using (@Html.BeginForm("Download", "Home"))
{
    <table>
        <tr>
            <th>Photo</th>
            <th>Likes</th>
            <th>Download?</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td> <img src="@p.photo.Path" /></td>
                <td> @p.photo.Likes</td>
                <td> @Html.CheckBoxFor(m => p.isChecked)</td>
            </tr>
        }
    </table>
    <br />
    <input type="button" onclick="Send(/Home/Download)" name="Download" value="Download selected" />
}