@model IEnumerable<VK_Music.Models.Photo>
@{
    ViewBag.Title = "SavedPhoto";
}

<h2>Сохраненные фотографии!</h2>

@if (Model == null || Model.Count() == 0)
{
    <h3>Список фотографий пуст!</h3>
    <button>@Html.ActionLink("Скачать фотографии","ShowOnline","Home")</button>
}
else
{
    <table>
        <tr>
            <th>Photo</th>
            <th>Likes</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td> <img src="@p.Path" /></td>
                <td> @p.Likes</td>
            </tr>
        }
    </table>
}
